{% extends 'base.html' %}
{% block title %}Inicio - ReviewFlix{% endblock %}
{% block content %}
{% load static %}
<section class="bajada">
    <div class="bajada-content">
        <h1 class="title text-center">Bienvenidos a ReviewFlix!</h1>
        <p>El sitio de reseñas de películas que estabas buscando.</p>
    </div>
</section>

<div class="container-main-aside">
    <main>
        <div class="container-home">
            <h2>Películas agregadas recientemente:</h2>
            <div class="row">
                {% for movie in last_movies %}
                <div class="col-md-3 mb-3">
                    <div class="card-movie h-100">
                        <a href="{% url 'detail' slug=movie.slug %}">
                            <img src="{{ movie.poster }}" class="card-img-top" alt="{{ movie.title }}">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title constant-title"><a href="{% url 'detail' slug=movie.slug %}" class="text-decoration-none">{{ movie.title }} ({{ movie.year }})</a></h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>
{% endblock %}