{% extends 'base.html' %}
{% load static %}
{% block title %}{{ movie.title }} - ReviewFlix{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Editar la Película</h2>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{{ movie.poster }}" class="img-fluid rounded" alt="{{ movie.title }}" style="max-height: 300px;">
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
