{% extends 'base.html' %}
{% load static %}
{% block title %}Búsqueda - ReviewFlix{% endblock %}

{% block content %}
<form action="{% url 'search' %}" method="GET" class="form-group">
    <input type="text" name="title" placeholder="Buscar película" class="form-control p-4" value="{{ query }}">
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<div class="container mt-5">
    <h1 class="text-center mb-5">Resultados de la Búsqueda</h1>
    {% if results %}
        <p>Se encontraron {{ results|length }} resultados para: <b>{{ query }}</b></p>
        <ul>
            {% for movie in results %}
                <li><a href="{% url 'detail' slug=movie.slug %}">{{ movie.title }} ({{ movie.year }})</a></li>
            {% empty %}
                <li>No se encontraron resultados.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados para: <b>{{ query }}</b></p>
    {% endif %}
</div>
{% endblock %}
